@{
    ViewData["Title"] = "База Фільмів";
}

@model ticket_office_WEB.Models.MovieResponseModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<h1 class="text-center my-4">Результати пошуку "@ViewBag.SearchQuery"</h1>

<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <a class="btn my-3" href="@Url.Action("SearchAll", "TMDB", new { query = @ViewBag.SearchQuery })">ВСІ</a>
            <a class="btn my-3" href="@Url.Action("SearchMovie", "TMDB", new { query = @ViewBag.SearchQuery })">ФІЛЬМИ</a>
            <a class="btn my-3" href="@Url.Action("SearchTV", "TMDB", new { query = @ViewBag.SearchQuery })">СЕРІАЛИ</a>
            <a class="btn my-3" href="@Url.Action("SearchCartoons", "TMDB", new { query = @ViewBag.SearchQuery })">МУЛЬТФІЛЬМИ</a>
        </div>
    </div>
    <form asp-controller="TMDB" asp-action="SearchAll" method="get">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" name="query" class="form-control form-control-lg rounded-pill" placeholder="Введіть назву фільму для пошуку...">
                <span class="input-group-text rounded-pill bg-white border-0">
                    <button type="submit" class="btn btn-link p-0"><i class="fas fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    </form>
</div>

<!-- Навігаця -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = 1, query=@ViewBag.SearchQuery })">Перша</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.Page - 1, query=@ViewBag.SearchQuery })">&laquo;</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i >= Model.Page - 2 && i <= Model.Page + 2 || i == 1 || i == Model.TotalPages)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = i, query=@ViewBag.SearchQuery })">@i</a>
                </li>
            }
            else if (i == Model.Page - 3 || i == Model.Page + 3)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
        }

        @if (Model.Page < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.Page + 1, query=@ViewBag.SearchQuery })">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.TotalPages, query=@ViewBag.SearchQuery })">Остання</a>
            </li>
        }
    </ul>
</nav>


@if (Model.Results != null && Model.Results.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var movie in Model.Results)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100">
                         @if (!string.IsNullOrEmpty(movie.PosterPath))
                        {
                            <img src="https://image.tmdb.org/t/p/w300/@movie.PosterPath" class="card-img-top" alt="@movie.Title">
                        }
                        else
                        {
                            <div class="card-img-top d-flex align-items-center justify-content-center" style="height: 75%; background-color: #f0f0f0;">
                                <span>Постер відсутній</span>
                            </div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title (@movie.ReleaseYear)</h5>
                            <p class="card-text">
                                <strong>Жанри:</strong>
                                @if (movie.Genres != null && movie.Genres.Any())
                                {
                                    @foreach (var genreId in movie.Genres)
                                    {
                                        if (ViewBag.MovieGenres.ContainsKey(genreId))
                                        {
                                            <span>@ViewBag.MovieGenres[genreId]</span>
                                        }
                                        else if (ViewBag.TvGenres.ContainsKey(genreId))
                                        {
                                            <span>@ViewBag.TvGenres[genreId]</span>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }

                                        @if (genreId != movie.Genres.Last())
                                        {
                                            <span> •</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span></span>
                                }
                            </p>
                            <p class="card-text"><strong>Рейтинг:</strong> @movie.VoteAverage</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container">
        <p class="alert alert-warning text-center">No movies found.</p>
    </div>
}

<!-- Навігаця -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = 1, query=@ViewBag.SearchQuery })">Перша</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.Page - 1, query=@ViewBag.SearchQuery })">&laquo;</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i >= Model.Page - 2 && i <= Model.Page + 2 || i == 1 || i == Model.TotalPages)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = i, query=@ViewBag.SearchQuery })">@i</a>
                </li>
            }
            else if (i == Model.Page - 3 || i == Model.Page + 3)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
        }

        @if (Model.Page < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.Page + 1, query=@ViewBag.SearchQuery })">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ChangeSearchPage", new { page = Model.TotalPages, query=@ViewBag.SearchQuery })">Остання</a>
            </li>
        }
    </ul>
</nav>

